<!DOCTYPE html>
<html lang="en">
  <head>
    {{> header-metadata }}
    {{> social-metadata }}
  </head>
  <body>
    {{> header page="About" }}
    <main class="mt0 bg-future-blue near-black">
      <section class="pv4 ph6-ns ph4">
        <h1 class="f3 tc">About</h1>
        {{#> p-copy }}
          <span class="logomark">Timeline</span> is an event-oriented language used to create <em>flight plans</em> for the <a class="link underline black" href="/time-space-manifold.html">Time-Space Manifold</a>, which allows travel through time and space.
        {{/p-copy }}
        {{#> p-copy }}
          Each <span class="logomark">Timeline</span> program (flight plan) is written for a specific journey through time and space.  No flight plan is used more than once.  In fact, this is by design.  The creation of a general-purpose flight plan proved infeasible and it's easier and more reliable to hand-craft a flight plan for each journey.
        {{/p-copy }}
        {{#> p-copy }}
          This reality shapes the design of <span class="logomark">Timeline</span>, which eschews abstraction, high level generic concepts, and many features found in general purpose programming languages.  <span class="logomark">Timeline</span> is designed with a focus on observability and predictability.  Language features must always be in service of making the flight plan easier to understand and predict.
        {{/p-copy }}
        {{#> p-copy }}
          To aid in this endeavor, <span class="logomark">Timeline</span> includes a simulator, which runs a Monte Carlo simulation on the flight plan. The simulator includes a model of the known universe, along with a statistical model of areas of space to provide a good estimate of what matter and energy <em>not</em> on the galatic map might be there and disuprt the journey.  The output of the simluator is a risk analysis of the proposed flight plan.
        {{/p-copy }}
        <h2 class="h3 tc mb0 mt5">History</h2>
        {{#> p-copy }}
          After receiving a waiver against the 2048 Ban on Machine Learning Algorithms, Dr. Neil Clarke created a general-purpose pilot using an advanced neural network.  Despite early successes, a disasterous journey's failure could not be explained.  Becuase of the inherent nature of machine learning algorithms, Dr. Clarke was unable to explain the failure.  His waiver was rescinded and he needed a new approach.
        {{/p-copy }}
        {{#> p-copy }}
          Given that a general-purpose pilot was infeasible, Dr. Clarke instead began to program the Time-Space Manifold for a specific journey instead of a general-purpose one.  He initially did this in machine code.
        {{/p-copy }}
        {{#> p-copy }}
          The first 23 journeys were a successful.  Journey 24, however, was a faiure, but the nature of the failure proved incredibly easy to explain (and thus correct for).  After 15 more journeys (2 of which <em>did</em> fail in easily explainable ways), the team agreed that a per-journey approach to programming the flight plan was the right way to go.
        {{/p-copy }}
        {{#> p-copy }}
          Dr. Clarke's method of programming the Time-Space Manifold was to write down pseudo code and hand-translate it to machine code.  That pseudo code became the basis of <span class="logomark">Timeline</span>, and the language was created soon after.  Since it's first version, it has powered over 500 journeys through time.
        {{/p-copy }}
        <h2 class="h3 tc mb0 mt5">Future</h2>
        {{#> p-copy }}
          We hope that other fields that offer programmable devices will take inspiration from <span class="logomark">Timeline</span> and create poweful languages that embrace clear core values and provide only those features needed to solve specific problems.
        {{/p-copy }}
        {{#> p-copy }}
          <span class="logomark">Timeline</span> itself will continue to evolve based on the usage patterns we see in the field.  The simulator itself is under constant improvement to give us a better idea of how we can predict the behavior of our programs.
        {{/p-copy }}
        <h2 class="h3 tc mb0 mt5">Author</h2>
        {{#> p-copy }}
          <a class="link underline black" href="https://naildrivin5.com">David Bryant Copeland</a> is the co-author of <span class="logomark">Timeline</span>, along with Dr. Neil Bell.  Mr. Copeland has written numerous programming books, such as <a class="link underline black" href="https://pragprog.com/book/rails6/agile-web-development-with-rails-6">Agile Web Development with Rails 6</a> and <a class="link underline black" href="http://sweng.me">The Senior Software Engineer</a>.  If you are interested in programming for the web or in a general purpose way (as opposed to programming the Time-Space Manifold), please check out those books.
        {{/p-copy }}
        {{#> p-copy }}
          You can read more about this site in the <a class="link underline black" href="/colophon.html">colophon</a>.
        {{/p-copy }}

      </section>
    </main>
    {{> footer }}
  </body>
</html>
