<!DOCTYPE html>
<html lang="en">
  <head>
    {{> header-metadata }}
    {{> social-metadata }}
  </head>
  <body>
    {{> header page="Colophon" }}
    <main class="mt0 bg-future-blue near-black">
      <section class="pv4 ph6-ns ph4">
        <h1 class="f3 tc">Colophon</h1>
        {{#> p-copy }}
          <span class="logomark">Timeline</span> is (obviously, I hope) not real.  Time travel doesn't exist (that we know of).  This site should be thought of as an art project.
        {{/p-copy }}
        {{#> p-copy }}
          The site is built using a combination of Webpack, Handlebars, HTML, Tachyons, and custom JavaScript code.  It is all <a href="https://github.com/davetron5000/timeline-lang.com">open source</a>.  Headers are set in Futura, with body text in Palatino.
        {{/p-copy }}
      </section>
    </main>
    {{> footer }}
  </body>
</html>
