<!DOCTYPE html>
<html lang="en">
  <head>
    {{> header-metadata }}
    {{> social-metadata }}
  </head>
  <body>
    {{> header page="Install" }}
    <main class="mt0 bg-future-blue near-black">
      <section class="pv4 ph6-ns ph4">
        <h1 class="f3 tc">Install</h1>
        {{#> p-copy }}
          Currently, <span class="logomark">Timeline</span> requires a functioning Time-Space Manifold to install.  We're working on a virtualized enviornment for you.  Stay tuned.
        {{/p-copy }}
      </section>
    </main>
    {{> footer }}
  </body>
</html>
