<section class="cf mt4-ns">
  <div class="fl w-100">
    <h1 class="f4 lh-title mb0">{{ title }}</h1>
  </div>
  <div class="fl w-100 w-50-ns">
    <pre class="bg-near-black light-green pa2 ba br3 b--light-green"><code>on vortex established [] {
send disconnect [] in 10ms
}</code></pre>
  </div>
  <div class="fl w-100 w-50-ns">
    <p class="lh-copy pl3-ns">
      All code is executed in response to a well-defined event.  While code can have logic and computation, it's only means of interacting outside of itself is to send events.  Above we tell the Time-Space Manifold to disconnect its vortex 10ms after it's been established.
    </p>
  </div>
</section>
