<section class="cf mt4-ns">
  <div class="fl w-100">
    <h1 class="f4 lh-title mb0">{{ title }}</h1>
  </div>
  <div class="fl w-100 w-50-ns">
{{> code file=code }}
  </div>
  <div class="fl w-100 w-50-ns">
    <p class="lh-copy pl3-ns measure">
{{> @partial-block }}
    </p>
  </div>
</section>
