<figure class="tc">
  <img class="shadow-5 mw-100" src="/images/{{ image_name }}__thumbnail.png" alt="{{ image_alt }}">
  <figcaption>
    <a target="_new" class="link black f6 underline" href="/images/{{ image_name }}.png">Click to view full-size in new window</a>
  </figcaption>
</figure>
