<footer class="tc bt bg-dark-gray light-yellow ma0 pa2 pb3 lh-copy">
  <a name="about"></a>
  <p>
    <span>
      Copyright &copy; 2019–2021
    </span>
    <span>
      by
    </span>
    <span class="nowrap">
      David Bryant Copeland,
    </span>
    <span>
      All Rights Reserved.
    </span>
  </p>
</footer>
<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '5cf98d99ed51210c9435b106');
    t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
    t.src = 'https://d2fuc4clr7gvcn.cloudfront.net/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
