{{#ifEquals page currentPage}}
      <span class="link light-yellow futura f4 pr2">{{ page }}</span>
{{else}}
      <a class="link light-yellow underline futura f4 pr2" href="{{ link }}">{{ page }}</a>
{{/ifEquals}}
